.git
.gitignore
.dockerignore

.data
.data.bak
.venv
.venv-*
venv
__pycache__
*.py[cod]
*.pyo
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage.xml
coverage-summary.txt

build
dist
*.egg-info

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.log
*.db
*.sqlite

.Dockerfile
.Dockerfile_v1.0.0
